@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: linear-gradient(to bottom, #f0f0f0, #87ceeb, #417a9f, #a81e23);
    background-size: cover;
    background-position: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

.max-width-container {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

.header-title {
    color: #4da8da;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: Comic Sans MS, cursive;
    text-shadow: 4px 4px 8px white;
    letter-spacing: 2px;
    text-align: center;
}

.header-image {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}